.body{
margin: 0;
font-size: 35px;
}


.dcc_tabs_class{
    height: 2.5em;
    margin: 10px;
    display : flex;
}

.little_plots{
    height: 400px;
    width: 400px;
    margin: 4%;
    border: 1px solid #808080;
    max-height : inherit;
    box-sizing : border-box;
}

.plot_ok_not_ok{
    height: 440px;
    width: 440px;
    margin: 2% auto;
    border: 1px solid #808080;
    max-height : inherit;
    box-sizing : border-box;
}


/*Styles for access.py*/

#div_parent_access_websites{
    display: flex;
    justify-content: space-evenly;
}

#div_codes_pie_histogram_pie{
    width: 47%;
}

#pie_ok_not_ok_markdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50em;
}

#average_access_box_plot{
    border: 1px solid #808080;
    width: 550px;
    height: 800px;
    margin: 2%;  
}


.histogram_ok_not_ok{
    border: 1px solid #808080;
    width: 95%;
    height: 600px;
    margin: 1%;
    border: 1px solid #808080;
    max-height : inherit;
    box-sizing : border-box;
}

#histogram_days_up{
    border: 1px solid #808080;
    width: 50%;
    height: 600px;
    margin: 1%;
    border: 1px solid #808080;
    max-height : inherit;
    box-sizing : border-box;
}

#div_average_access_time_and_markdown{
    width: 45%;
    display: flex;
    align-items: flex-start;
}


/*Styles for javascript.py*/


#boxplot_plot{
    height: 1000px;

}
#div_top_dynamic_websites{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50em;
    margin: 0 auto;
}

#div_scatter_plot_markdown{
    display: flex;
    align-items: center;
    width: 85em;
    justify-content: space-evenly;
    margin: 0 auto;
}


@media screen and (min-width: 451px) and (max-width: 1500px){

/* Access*/
#div_parent_access_websites{
    display : flex;
    flex-direction : column;
    width: 100%;
}

#div_codes_pie_histogram_pie{
    width: 100%;
}

#pie_ok_not_ok_markdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

#div_average_access_time_and_markdown{
    display : flex;
    flex-direction : row;
    justify-content: space-evenly;
    width: 100%;
}


#pie_ok_not_ok_markdown{
    display : flex;
    flex-direction : column;
    width: 100%;
}

#layout_pie_charts_and_http_codes{
    display : flex;
    flex-direction : column;
}

.dcc_tabs_class{
    height: 10em;
}

.little_plots{
    margin: 10px;
    padding: 0;
}

.six.columns{
    width: 95%;
}

#little_plots{
    padding: 0;
    margin: 0 auto;
}

.column, .columns {
    margin: 0 auto;
}


.pie_chart_dynamic_websites{
    margin-right: auto;
}

}

@media screen and (min-width: 0px) and (max-width: 450px){

/*Styles for javascript*/

#div_top_dynamic_websites{
    display: flex;
    flex-direction : column;
}

#pie_ok_not_ok_markdown{
    display: flex;
    flex-direction : column;

}



/* Access */


#div_average_access_time_and_markdown{
    display : flex;
    flex-direction : column;
    width: 100%;
}


}

